<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485572870673-fdlnaf8fhucihlnn6moqh3q4dnsmfhd0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485572870673-fdlnaf8fhucihlnn6moqh3q4dnsmfhd0</string>
	<key>API_KEY</key>
	<string>AIzaSyDnIgRgnOQnEMuE4Jv5PwPgqDN-dswTSdg</string>
	<key>GCM_SENDER_ID</key>
	<string>485572870673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.flutter-base</string>
	<key>PROJECT_ID</key>
	<string>flutter-base-getx</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-base-getx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485572870673:ios:7acdd845f2bbe065daa7b0</string>
</dict>
</plist>